<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.cq.model.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="main_depart_id" jdbcType="BIGINT" property="mainDepartId" />
    <result column="main_depart_name" jdbcType="VARCHAR" property="mainDepartName" />
    <result column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="leader_depart_id" jdbcType="BIGINT" property="leaderDepartId" />
    <result column="leader_depart_name" jdbcType="VARCHAR" property="leaderDepartName" />
    <result column="leader_user_id" jdbcType="BIGINT" property="leaderUserId" />
    <result column="leader_user_name" jdbcType="VARCHAR" property="leaderUserName" />
    <result column="leader_position_id" jdbcType="INTEGER" property="leaderPositionId" />
    <result column="leader_positon_name" jdbcType="VARCHAR" property="leaderPositonName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, password, email, mobile, real_name, main_depart_id, main_depart_name, 
    position_id, position_name, leader_depart_id, leader_depart_name, leader_user_id, 
    leader_user_name, leader_position_id, leader_positon_name, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from j_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cq.model.User">
    insert into j_user (user_id, user_name, password, 
      email, mobile, real_name, 
      main_depart_id, main_depart_name, position_id, 
      position_name, leader_depart_id, leader_depart_name, 
      leader_user_id, leader_user_name, leader_position_id, 
      leader_positon_name, gmt_create, gmt_modified
      )
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{mainDepartId,jdbcType=BIGINT}, #{mainDepartName,jdbcType=VARCHAR}, #{positionId,jdbcType=INTEGER}, 
      #{positionName,jdbcType=VARCHAR}, #{leaderDepartId,jdbcType=BIGINT}, #{leaderDepartName,jdbcType=VARCHAR}, 
      #{leaderUserId,jdbcType=BIGINT}, #{leaderUserName,jdbcType=VARCHAR}, #{leaderPositionId,jdbcType=INTEGER}, 
      #{leaderPositonName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cq.model.User">
    insert into j_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="mainDepartId != null">
        main_depart_id,
      </if>
      <if test="mainDepartName != null">
        main_depart_name,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="positionName != null">
        position_name,
      </if>
      <if test="leaderDepartId != null">
        leader_depart_id,
      </if>
      <if test="leaderDepartName != null">
        leader_depart_name,
      </if>
      <if test="leaderUserId != null">
        leader_user_id,
      </if>
      <if test="leaderUserName != null">
        leader_user_name,
      </if>
      <if test="leaderPositionId != null">
        leader_position_id,
      </if>
      <if test="leaderPositonName != null">
        leader_positon_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mainDepartId != null">
        #{mainDepartId,jdbcType=BIGINT},
      </if>
      <if test="mainDepartName != null">
        #{mainDepartName,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="leaderDepartId != null">
        #{leaderDepartId,jdbcType=BIGINT},
      </if>
      <if test="leaderDepartName != null">
        #{leaderDepartName,jdbcType=VARCHAR},
      </if>
      <if test="leaderUserId != null">
        #{leaderUserId,jdbcType=BIGINT},
      </if>
      <if test="leaderUserName != null">
        #{leaderUserName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPositionId != null">
        #{leaderPositionId,jdbcType=INTEGER},
      </if>
      <if test="leaderPositonName != null">
        #{leaderPositonName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cq.model.User">
    update j_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mainDepartId != null">
        main_depart_id = #{mainDepartId,jdbcType=BIGINT},
      </if>
      <if test="mainDepartName != null">
        main_depart_name = #{mainDepartName,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="leaderDepartId != null">
        leader_depart_id = #{leaderDepartId,jdbcType=BIGINT},
      </if>
      <if test="leaderDepartName != null">
        leader_depart_name = #{leaderDepartName,jdbcType=VARCHAR},
      </if>
      <if test="leaderUserId != null">
        leader_user_id = #{leaderUserId,jdbcType=BIGINT},
      </if>
      <if test="leaderUserName != null">
        leader_user_name = #{leaderUserName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPositionId != null">
        leader_position_id = #{leaderPositionId,jdbcType=INTEGER},
      </if>
      <if test="leaderPositonName != null">
        leader_positon_name = #{leaderPositonName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cq.model.User">
    update j_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      main_depart_id = #{mainDepartId,jdbcType=BIGINT},
      main_depart_name = #{mainDepartName,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=INTEGER},
      position_name = #{positionName,jdbcType=VARCHAR},
      leader_depart_id = #{leaderDepartId,jdbcType=BIGINT},
      leader_depart_name = #{leaderDepartName,jdbcType=VARCHAR},
      leader_user_id = #{leaderUserId,jdbcType=BIGINT},
      leader_user_name = #{leaderUserName,jdbcType=VARCHAR},
      leader_position_id = #{leaderPositionId,jdbcType=INTEGER},
      leader_positon_name = #{leaderPositonName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>