<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.dao.DepartInfoDao" >
  <resultMap id="BaseResultMap" type="com.cq.model.DepartInfo" >
    <id column="depart_id" property="departId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    depart_id, parent_id, depart_name
  </sql>
   
</mapper>