<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">    

<configuration>  

    <!-- 对象别名 -->  
    <typeAliases>  
        <typeAlias type="com.mybatis.pojo.Teacher" alias="Teacher"/>  
        <typeAlias type="com.mybatis.pojo.Course" alias="Course"/>
    </typeAliases>  
    
    <!-- 注册xml文件 -->  
    <mappers>
        <mapper resource="com/mybatis/mapper/TeacherMapper.xml"/>
    </mappers>
    
</configuration> 