<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.dao.user.UserLogDao" >
  <resultMap id="BaseResultMap" type="com.cq.model.user.UserLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="log_detail" property="logDetail" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, operator_id, operator_name, log_detail, gmt_create
  </sql>
  
  <select id="listByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from j_oa_user_log
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.cq.model.user.UserLog" >
    insert into j_oa_user_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="logDetail != null" >
        log_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="logDetail != null" >
        #{logDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertBatch" parameterType="com.cq.dto.user.UserLogDTO" >
    insert into j_oa_user_log (user_id, operator_id, operator_name, log_detail)
    values
    <foreach collection = "userIdList" item="item" index = "index" separator = ",">
     (#{item,jdbcType=BIGINT},
      #{operatorId,jdbcType=BIGINT}, 
      #{operatorName,jdbcType=VARCHAR}, 
      #{logDetail,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>