<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.differ.jackyun.oa.dao.DeployDao" >

  <resultMap id="BaseResultMapFlow" type="com.differ.jackyun.oa.model.Flow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="flow_name" property="flowName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="flow_description" property="flowDescription"  />
    <result column="processkey" property="processkey"  />
  </resultMap>
  
    <resultMap id="BaseResultMapNode" type="com.differ.jackyun.oa.model.FlowNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="BIGINT" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="participant" property="participant" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="BaseResultMapCondition" type="com.differ.jackyun.oa.model.NodeCondition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="BIGINT" />
    <result column="next_node_id" property="nextNodeId" jdbcType="BIGINT" />
    <result column="form_attribute" property="formAttribute" jdbcType="VARCHAR" />
    <result column="operate_condition" property="operateCondition" jdbcType="VARCHAR" />
    <result column="form_value" property="formValue" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  
   <resultMap id="BaseResultMapDTO" type="com.differ.jackyun.oa.dto.FlowDTO" >
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="flow_name" property="flowName" jdbcType="VARCHAR" />
     <result column="processkey" property="processkey"  />
     <collection property="nodes"  ofType="com.differ.jackyun.oa.model.FlowNode" javaType="ArrayList" resultMap="BaseResultMapNode"/>
  </resultMap>
  
  
   <resultMap id="BaseResultMapForm" type="com.differ.jackyun.oa.model.Form" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="apply_time" property="applyTime" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="REAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  
    <resultMap id="BaseResultMapFormDTO" type="com.differ.jackyun.oa.dto.ExamineResultDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="flow_name" property="flowName" />
    <result column="user_name" property="userName" />
    <result column="apply_time" property="applyTime" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="REAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  
  
   <resultMap id="BaseResultMapUser" type="com.differ.jackyun.oa.model.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="main_depart_id" property="mainDepartId" jdbcType="BIGINT" />
    <result column="main_depart_name" property="mainDepartName" jdbcType="VARCHAR" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="leader_depart_id" property="leaderDepartId" jdbcType="BIGINT" />
    <result column="leader_depart_name" property="leaderDepartName" jdbcType="VARCHAR" />
    <result column="leader_user_id" property="leaderUserId" jdbcType="BIGINT" />
    <result column="leader_user_name" property="leaderUserName" jdbcType="VARCHAR" />
    <result column="leader_position_id" property="leaderPositionId" jdbcType="INTEGER" />
    <result column="leader_positon_name" property="leaderPositonName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <resultMap id="BaseResultMapDepart" type="com.differ.jackyun.oa.model.DepartInfo" >
    <id column="depart_id" property="departId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
  </resultMap>
  
   
  <sql id="Base_Column_List" >
    id, flow_id, flow_name, gmt_create, gmt_modified
  </sql>
  
  <select id="getDepartment" resultMap="BaseResultMapDepart">
 	 select * from j_depart_info   where depart_id=#{departId}
  </select>
  
   <select id="getForm"   resultMap="BaseResultMapForm"> 
   	select * from  j_form form left  join   j_oa_flow flow  on form.flow_id=flow.flow_id  where  form.id=#{formId}
  </select>
  
  <select id="getFormByFormId"   resultMap="BaseResultMapFormDTO"> 
   	select * from  j_form form left  join   j_oa_flow flow    on form.flow_id=flow.flow_id left join j_user u on form.user_id=u.user_id  where  form.id=#{formId}
  </select>
  
  <select id="getFlow"   resultMap="BaseResultMapDTO"> 
   	select * from   j_oa_flow_node  node  left join   j_oa_flow flow on node.flow_id=flow.flow_id  where flow.flow_id=#{flowId}
  </select>
  
 
  
  
   <select id="listCondition"   resultMap="BaseResultMapCondition"> 
  	 select * from   j_oa_node_condition   where node_id  in
  	 <foreach collection="list" separator="," open="(" close=")" item="item" index="index">
			#{item}
	 </foreach>
  </select>
  
  
  <update id="updateProcessId"  parameterType="object">
   update j_oa_flow  set processkey=#{processKey} where flow_id=#{flowId}
  </update>
  

  
  <!-- 根据部门Id和岗位ID获取具体用户 -->
   <select id="getUserByDepartmentIdAndPostionId"   resultMap="BaseResultMapUser"> 
    	select * from  j_user  where 1=1
    	<if test="positionId != null and positionId !='' ">
    		and position_id=#{positionId}
    	</if>
	    <if test="mainDepartId!= null and mainDepartId!='' ">
    		 and main_depart_id=#{mainDepartId}
    	</if>
   </select>
  
  
   
</mapper>