<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.dao.FlowDao" >
  <resultMap id="BaseResultMap" type="com.cq.model.Flow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="flow_name" property="flowName" jdbcType="VARCHAR" />
    <result column="flow_description" property="flowDescription" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
   
  <sql id="Base_Column_List" >
    id, flow_id, flow_name,flow_description, gmt_create, gmt_modified
  </sql>
  
   <insert id="create" parameterType="com.cq.model.Flow" keyProperty="Id" useGeneratedKeys="true">
		insert into
		j_oa_flow (flow_id,flow_name,flow_description)
		values (#{flowId},#{flowName}, #{flowDescription})
	</insert>
	
	<update id="update" parameterType="com.cq.model.Flow">
		update j_oa_flow set
		<trim suffix="" suffixOverrides=",">
			<if test="flowName != null  ">
				flow_name=#{flowName},
			</if>
			<if test="flowDescription != null  ">
				flow_description=#{flowDescription},
			</if>
		</trim>
		where flow_id = #{flowId}
	</update>
	
	<delete id="deleteByFlowId" parameterType="java.lang.Long">
		delete j_oa_flow,j_oa_flow_node,j_oa_node_condition 
		from j_oa_flow  left join j_oa_flow_node  
		on j_oa_flow.flow_id= j_oa_flow_node.flow_id
		left join j_oa_node_condition 
		on j_oa_flow_node.node_id = j_oa_node_condition.node_id
		where j_oa_flow.flow_id =#{flowId}

	</delete>
	
	<select id="list" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List" />
	from j_oa_flow
	</select>
	
	
	
	<select id="getByFlowId" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List" />
	from j_oa_flow
	where flow_id= #{flowId}
	</select>
</mapper>