<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.differ.jackyun.oa.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.differ.jackyun.oa.model.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="main_depart_id" property="mainDepartId" jdbcType="BIGINT" />
    <result column="main_depart_name" property="mainDepartName" jdbcType="VARCHAR" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="leader_depart_id" property="leaderDepartId" jdbcType="BIGINT" />
    <result column="leader_depart_name" property="leaderDepartName" jdbcType="VARCHAR" />
    <result column="leader_user_id" property="leaderUserId" jdbcType="BIGINT" />
    <result column="leader_user_name" property="leaderUserName" jdbcType="VARCHAR" />
    <result column="leader_position_id" property="leaderPositionId" jdbcType="INTEGER" />
    <result column="leader_positon_name" property="leaderPositonName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
   
  <sql id="Base_Column_List" >
    user_id, user_name, password, email, mobile, real_name, main_depart_id, main_depart_name, 
    position_id, position_name, leader_depart_id, leader_depart_name, leader_user_id, 
    leader_user_name, leader_position_id, leader_positon_name, gmt_create, gmt_modified
  </sql>
  
  
  	<select id="login" resultMap="BaseResultMap" parameterType="object">
		select * from  j_user where user_name=#{userName} and  password=#{password}
	</select>
	
	
	<select id="selectNameById" resultType="java.lang.String" parameterType="java.lang.Long">
		select user_name from  j_user where user_id=#{userId} 
	</select>
   
</mapper>