<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.dao.user.UserSpecialInfoDao" >
  <resultMap id="BaseResultMap" type="com.cq.model.user.UserSpecialInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="special_id" property="specialId" jdbcType="BIGINT" />
    <result column="special_name" property="specialName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, special_id, special_name, gmt_create, gmt_modified
  </sql>
  
  <select id="listUserSpecial" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j_oa_user_special_info
    where 1 = 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from j_oa_user_special_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cq.model.user.UserSpecialInfo" >
    insert into j_oa_user_special_info (id, special_id, special_name, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{specialId,jdbcType=BIGINT}, #{specialName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cq.model.user.UserSpecialInfo" >
    insert into j_oa_user_special_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="specialId != null" >
        special_id,
      </if>
      <if test="specialName != null" >
        special_name,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="specialId != null" >
        #{specialId,jdbcType=BIGINT},
      </if>
      <if test="specialName != null" >
        #{specialName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cq.model.user.UserSpecialInfo" >
    update j_oa_user_special_info
    <set >
      <if test="specialId != null" >
        special_id = #{specialId,jdbcType=BIGINT},
      </if>
      <if test="specialName != null" >
        special_name = #{specialName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cq.model.user.UserSpecialInfo" >
    update j_oa_user_special_info
    set special_id = #{specialId,jdbcType=BIGINT},
      special_name = #{specialName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>