<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.dao.user.UserPositionInfoDao">
	<resultMap id="BaseResultDtoMap" type="com.cq.dto.user.UserPositionInfoDTO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="position_id" jdbcType="BIGINT" property="positionId" />
		<result column="position_name" jdbcType="VARCHAR" property="positionName" />
		<result column="company_id" jdbcType="BIGINT" property="companyId" />
		<result column="company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="depart_id" jdbcType="BIGINT" property="departId" />
		<result column="depart_name" jdbcType="VARCHAR" property="departName" />
		<result column="erp_position_id" jdbcType="BIGINT" property="erpPositionId" />
		<result column="erp_position_name" jdbcType="VARCHAR" property="erpPositionName" />
		<result column="rank_id" jdbcType="BIGINT" property="rankId" />
		<result column="rank_name" jdbcType="VARCHAR" property="rankName" />
		<result column="is_main" jdbcType="TINYINT" property="isMain" />
		<result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
		<result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
		<collection property="parentPosition" ofType="com.cq.dto.user.ShowPositionDTO" javaType="ArrayList"
			resultMap="parentPositionMap" />
		<collection property="subPosition" ofType="com.cq.dto.user.ShowPositionDTO" javaType="ArrayList"
			resultMap="subPositionMap" />
	</resultMap>

	<resultMap id="parentPositionMap" type="com.cq.dto.user.ShowPositionDTO">
		<result column="parent_position_id" property="showPositionId" jdbcType="BIGINT" />
		<result column="parent_position_name" property="showPositionName" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="subPositionMap" type="com.cq.dto.user.ShowPositionDTO">
		<result column="sub_position_id" property="showPositionId" jdbcType="BIGINT" />
		<result column="sub_position_name" property="showPositionName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, position_id, company_id, company_name, depart_id, depart_name, erp_position_id,
		erp_position_name, rank_id, is_main, start_date, end_date
	</sql>

	<sql id="User_Position_Info">
		upi.id, upi.user_id, u.user_name, upi.position_id, up.position_name, upi.company_id,
		upi.company_name, upi.depart_id, upi.depart_name, upi.erp_position_id,
		upi.erp_position_name, upi.rank_id, ur.rank_name, upi.is_main, upi.start_date, upi.end_date,
		up.parent_position_id AS parent_position_id,
		up.parent_position_name AS parent_position_name,
		up1.position_id AS sub_position_id,
		up1.position_name AS sub_position_name
	</sql>

	<!-- 查询单个员工的任职情况 -->
	<select id="list" parameterType="java.lang.Long" resultMap="BaseResultDtoMap">
		select
		<include refid="User_Position_Info" />
		from j_oa_user_position_info upi
		LEFT JOIN j_oa_user u on upi.user_id = u.user_id
		LEFT JOIN j_oa_user_position up on upi.position_id = up.position_id
		LEFT JOIN j_oa_user_position up1 ON up1.parent_position_id = upi.position_id
		LEFT JOIN j_oa_user_rank ur ON ur.rank_id = upi.rank_id
		where 1 = 1 and upi.is_deleted = 0
		and u.user_id = #{userId}
		ORDER BY upi.start_date DESC
	</select>

	<!-- 查询所有员工的任职情况 -->
	<select id="listBatch" parameterType="com.cq.dto.user.UserPositionInfoQueryDTO" resultMap="BaseResultDtoMap">
		select
		<include refid="User_Position_Info" />
		from j_oa_user_position_info upi
		LEFT JOIN j_oa_user u on upi.user_id = u.user_id
		LEFT JOIN j_oa_user_position up on upi.position_id = up.position_id
		LEFT JOIN j_oa_user_position up1 ON up1.parent_position_id = upi.position_id
		LEFT JOIN j_oa_user_rank ur ON ur.rank_id = upi.rank_id
		where 1 = 1 and upi.is_deleted = 0 and u.is_delete = 0
		<include refid="whereQuery" />
		<if test="page!=null">
			<if test="page.sortField != null and page.sortField != '' ">
				order by ${page.sortField}
				<if test="page.sortOrder != null and page.sortOrder != '' ">
					${page.sortOrder}
				</if>
			</if>
			<if test="page.sortField == null or page.sortField == '' ">
				ORDER BY upi.start_date DESC
			</if>
		</if>
	</select>

	<!-- 批量查询 查询总数 -->
	<select id="listBatchCount" parameterType="com.cq.dto.user.UserPositionInfoQueryDTO" resultType="java.lang.Integer">
		select count(distinct upi.id) from j_oa_user_position_info upi
		LEFT JOIN j_oa_user u on upi.user_id = u.user_id
		LEFT JOIN j_oa_user_position up on upi.position_id = up.position_id
		LEFT JOIN j_oa_user_position up1 ON up1.parent_position_id = upi.position_id
		where 1 = 1 and upi.is_deleted = 0 and u.is_delete = 0
		<include refid="whereQuery" />
	</select>

	<!-- 任职情况 批量插入 -->
	<insert id="insertBatch" parameterType="com.cq.dto.user.UserPositionInfoDTO">
		insert into j_oa_user_position_info (user_id, position_id, company_id, company_name, depart_id, depart_name,
		erp_position_id,
		erp_position_name, rank_id, is_main, start_date, end_date)
		values
		<foreach collection="userIdList" item="item" index="index" separator=",">
			(#{item,jdbcType=BIGINT},
			#{positionId,jdbcType=BIGINT},
			#{companyId,jdbcType=BIGINT},
			#{companyName,jdbcType=VARCHAR},
			#{departId,jdbcType=BIGINT},
			#{departName,jdbcType=VARCHAR},
			#{erpPositionId,jdbcType=BIGINT},
			#{erpPositionName,jdbcType=VARCHAR},
			#{rankId,jdbcType=BIGINT},
			<if test="isMain == null">
			0,
			</if>
			<if test="isMain != null">
			#{isMain,jdbcType=TINYINT},
			</if>
			#{startDate,jdbcType=TIMESTAMP},
			#{endDate,jdbcType=TIMESTAMP})
		</foreach>
	</insert>

	<!-- 根据人员ID批量删除人的任职情况 -->
	<delete id="deleteBatchByUserId" parameterType="object">
		delete from j_oa_user_position_info
		where user_id IN
		<foreach collection="list" separator="," open="(" close=")" item="item" index="index">
			#{item}
		</foreach>
	</delete>

	<!-- 根据人员ID删除该人所有任职情况 -->
	<delete id="deleteByUserId" parameterType="java.lang.Long">
		delete from j_oa_user_position_info
		where user_id = #{userId,jdbcType=BIGINT}
	</delete>

	<!-- 根据任职情况主键ID批量删除任职情况 -->
	<delete id="deleteBatchById" parameterType="object">
		delete from j_oa_user_position_info
		where id IN
		<foreach collection="list" separator="," open="(" close=")" item="item" index="index">
			#{item}
		</foreach>
	</delete>

	<update id="updateByPositionId" parameterType="com.cq.dto.user.UserPositionInfoDTO">
		update j_oa_user_position_info
		<set>
			<if test="positionId != null">
				position_id = #{newPositionId,jdbcType=BIGINT},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="departId != null">
				depart_id = #{departId,jdbcType=BIGINT},
			</if>
			<if test="departName != null">
				depart_name = #{departName,jdbcType=VARCHAR},
			</if>
			<if test="erpPositionId != null">
				erp_position_id = #{erpPositionId,jdbcType=BIGINT},
			</if>
			<if test="erpPositionName != null">
				erp_position_name = #{erpPositionName,jdbcType=VARCHAR},
			</if>
		</set>
		where position_id = #{positionId,jdbcType=BIGINT}
	</update>

	<update id="updateById" parameterType="com.cq.dto.user.UserPositionInfoDTO">
		update j_oa_user_position_info 
		<set>
		start_date = #{startDate,jdbcType=TIMESTAMP},
		end_date = #{endDate,jdbcType=TIMESTAMP},
		is_main = #{isMain,jdbcType=TINYINT},
		erp_position_id = #{erpPositionId,jdbcType=BIGINT},
		erp_position_name = #{erpPositionName,jdbcType=VARCHAR},
		rank_id = #{rankId,jdbcType=BIGINT},
		</set>
		where id = #{id, jdbcType=INTEGER}
	</update>

	<!-- 根据人员ID、职位ID查询人员任职情况 -->
	<select id="getByPositionId" resultMap="BaseResultDtoMap">
		SELECT info.user_id,info.position_id,info.erp_position_id,info.erp_position_name,info.rank_id,rank.rank_name
		FROM j_oa_user_position_info info
		LEFT JOIN j_oa_user_rank rank ON info.rank_id = rank.rank_id
		WHERE info.user_id = #{userId}
		AND info.position_id = #{positionId}
	</select>


	<!-- 任职情况 单条插入 -->
	<insert id="insert" parameterType="com.cq.dto.user.UserPositionInfoDTO">
		insert into j_oa_user_position_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="positionId != null">
				position_id,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="departId != null">
				depart_id,
			</if>
			<if test="departName != null">
				depart_name,
			</if>
			<if test="erpPositionId != null">
				erp_position_id,
			</if>
			<if test="erpPositionName != null">
				erp_position_name,
			</if>
			<if test="rankId != null">
				rank_id,
			</if>
			<if test="isMain != null">
				is_main,
			</if>
			<if test="startDate != null">
				start_date,
			</if>
			<if test="endDate != null">
				end_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="positionId != null">
				#{positionId,jdbcType=BIGINT},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=BIGINT},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="departId != null">
				#{departId,jdbcType=BIGINT},
			</if>
			<if test="departName != null">
				#{departName,jdbcType=VARCHAR},
			</if>
			<if test="erpPositionId != null">
				#{erpPositionId,jdbcType=BIGINT},
			</if>
			<if test="erpPositionName != null">
				#{erpPositionName,jdbcType=VARCHAR},
			</if>
			<if test="rankId != null">
				#{rankId,jdbcType=BIGINT},
			</if>
			<if test="isMain != null">
				#{isMain,jdbcType=TINYINT},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<insert id="save" parameterType="object">
		insert into j_oa_user_position_info
		(user_id,position_id,company_id,company_name,depart_id,depart_name,erp_position_id,
		erp_position_name,rank_id,is_main,start_date,end_date)
		values
		<foreach collection="list" item="positionInfo" index="index" separator=",">
			(#{positionInfo.userId,jdbcType=BIGINT},
			#{positionInfo.positionId,jdbcType=BIGINT},
			#{positionInfo.companyId,jdbcType=BIGINT},
			#{positionInfo.companyName,jdbcType=VARCHAR},
			#{positionInfo.departId,jdbcType=BIGINT},
			#{positionInfo.departName,jdbcType=VARCHAR},
			#{positionInfo.erpPositionId,jdbcType=BIGINT},
			#{positionInfo.erpPositionName,jdbcType=VARCHAR},
			#{positionInfo.rankId,jdbcType=BIGINT},
			#{positionInfo.isMain,jdbcType=TINYINT},
			#{positionInfo.startDate,jdbcType=TIMESTAMP},
			#{positionInfo.endDate,jdbcType=TIMESTAMP})
		</foreach>
	</insert>

	<sql id="whereQuery">
		<if test="userPositionInfoQueryDto !=null">
			<!-- 左侧过滤 -->
			<!-- 职位查询 -->
			<!-- 任职单位 -->
			<if test="userPositionInfoQueryDto.companyId != null and userPositionInfoQueryDto.companyId != ''">
				and upi.company_id = ${userPositionInfoQueryDto.companyId}
			</if>
			<!-- 任职部门 -->
			<if test="userPositionInfoQueryDto.departId != null and userPositionInfoQueryDto.departId != ''">
				and upi.depart_id = ${userPositionInfoQueryDto.departId}
			</if>
			<if test="userPositionInfoQueryDto.positionId != null and userPositionInfoQueryDto.positionId != ''">
				and upi.position_id = ${userPositionInfoQueryDto.positionId}
			</if>
			<!-- 职务/ERP岗位查询 -->
			<if test="userPositionInfoQueryDto.erpPositionId != null and userPositionInfoQueryDto.erpPositionId != ''">
				and upi.erp_position_id = ${userPositionInfoQueryDto.erpPositionId}
			</if>
			<!-- 左侧筛选 -->
			<!-- 员工ID -->
			<if test="userPositionInfoQueryDto.userId != null">
				and u.user_id = #{userPositionInfoQueryDto.userId}
			</if>
			<!-- 员工姓名 -->
			<if test="userPositionInfoQueryDto.userNameLike != null and userPositionInfoQueryDto.userNameLike != ''">
				and u.user_name like '%${userPositionInfoQueryDto.userNameLike}%'
			</if>
			<!-- 任职单位 -->
			<if test="userPositionInfoQueryDto.companyIds != null and userPositionInfoQueryDto.companyIds.size != 0">
				and upi.company_id IN
				<foreach collection="userPositionInfoQueryDto.companyIds" separator="," open="(" close=")" item="item"
					index="index">
					#{item}
				</foreach>
			</if>
			<!-- 任职部门 -->
			<if test="userPositionInfoQueryDto.departIds != null and userPositionInfoQueryDto.departIds.size != 0">
				and upi.depart_id IN
				<foreach collection="userPositionInfoQueryDto.departIds" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
			<!-- 职位 -->
			<if test="userPositionInfoQueryDto.positionNameLike != null and userPositionInfoQueryDto.positionNameLike != ''">
				and up.position_name like '%${userPositionInfoQueryDto.positionNameLike}%'
			</if>
			<!-- 岗位/职务 -->
			<if test="userPositionInfoQueryDto.erpPositionIds != null and userPositionInfoQueryDto.erpPositionIds.size != 0">
				and upi.erp_position_id IN
				<foreach collection="userPositionInfoQueryDto.erpPositionIds" separator="," open="(" close=")" item="item"
					index="index">
					#{item}
				</foreach>
			</if>
			<!-- 表头查询 -->
			<!-- 起始日期 -->
			<if test="userPositionInfoQueryDto.startDateEquals != null and userPositionInfoQueryDto.startDateEquals != ''">
				and upi.start_date = #{userPositionInfoQueryDto.startDateEquals}
			</if>
			<if test="userPositionInfoQueryDto.startDateGte != null and userPositionInfoQueryDto.startDateGte != ''">
				and upi.start_date &gt;= #{userPositionInfoQueryDto.startDateGte}
			</if>
			<if test="userPositionInfoQueryDto.startDateLte != null and userPositionInfoQueryDto.startDateLte != ''">
				and upi.start_date &lt;= #{userPositionInfoQueryDto.startDateLte}
			</if>
			<if test="userPositionInfoQueryDto.startDateGt != null and userPositionInfoQueryDto.startDateGt != ''">
				and upi.start_date &gt;= #{userPositionInfoQueryDto.startDateGt}
			</if>
			<if test="userPositionInfoQueryDto.startDateLt != null and userPositionInfoQueryDto.startDateLt != ''">
				and upi.start_date &lt;= #{userPositionInfoQueryDto.startDateLt}
			</if>
			<!-- 终止日期 -->
			<if test="userPositionInfoQueryDto.endDateEquals != null and userPositionInfoQueryDto.endDateEquals != ''">
				and upi.end_date = #{userPositionInfoQueryDto.endDateEquals}
			</if>
			<if test="userPositionInfoQueryDto.endDateGte != null and userPositionInfoQueryDto.endDateGte != ''">
				and upi.end_date &gt;= #{userPositionInfoQueryDto.endDateGte}
			</if>
			<if test="userPositionInfoQueryDto.endDateLte != null and userPositionInfoQueryDto.endDateLte != ''">
				and upi.end_date &lt;= #{userPositionInfoQueryDto.endDateLte}
			</if>
			<if test="userPositionInfoQueryDto.endDateGt != null and userPositionInfoQueryDto.endDateGt != ''">
				and upi.end_date &gt;= #{userPositionInfoQueryDto.endDateGt}
			</if>
			<if test="userPositionInfoQueryDto.endDateLt != null and userPositionInfoQueryDto.endDateLt != ''">
				and upi.end_date &lt;= #{userPositionInfoQueryDto.endDateLt}
			</if>
			<!-- 任职单位 -->
			<if test="userPositionInfoQueryDto.companyNameLike != null and userPositionInfoQueryDto.companyNameLike != ''">
				and upi.company_name like '%${userPositionInfoQueryDto.companyNameLike}%'
			</if>
			<!-- 任职部门 -->
			<if test="userPositionInfoQueryDto.departNameLike != null and userPositionInfoQueryDto.departNameLike != ''">
				and upi.depart_name like '%${userPositionInfoQueryDto.departNameLike}%'
			</if>
			<!-- 是否主职位 0否，1是 -->
			<if test="userPositionInfoQueryDto.isMainIn != null and userPositionInfoQueryDto.isMainIn != ''">
				and upi.is_main in ${userPositionInfoQueryDto.isMainIn}
			</if>
			<!-- 职务 -->
			<if test="userPositionInfoQueryDto.erpPositionIdIn != null and userPositionInfoQueryDto.erpPositionIdIn != ''">
				and upi.erp_position_id in ${userPositionInfoQueryDto.erpPositionIdIn}
			</if>
			<!-- 职级 -->
			<if test="userPositionInfoQueryDto.rankIdIn != null and userPositionInfoQueryDto.rankIdIn != ''">
				and upi.rank_id in ${userPositionInfoQueryDto.rankIdIn}
			</if>
			<!-- 直接上级职位 -->
			<if test="userPositionInfoQueryDto.parentPositionLike != null and userPositionInfoQueryDto.parentPositionLike != ''">
				and up.parent_position_name like '%${userPositionInfoQueryDto.parentPositionLike}%'
			</if>
			<!-- 直接管理职位 -->
			<if test="userPositionInfoQueryDto.subPositionLike != null and userPositionInfoQueryDto.subPositionLike != ''">
				and up1.position_name like '%${userPositionInfoQueryDto.subPositionLike}%'
			</if>
		</if>
	</sql>
</mapper>