<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.dao.FormDao" >
  <resultMap id="BaseResultMap" type="com.cq.model.Form" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="apply_time" property="applyTime" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="REAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
     <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
   <resultMap id="DTOResultMap" type="com.cq.dto.FormDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="apply_time" property="applyTime" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="REAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="BIGINT" />
    <result column="flow_name" property="flowName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, category, apply_time, start_time, end_time, days, memo,user_id
  </sql>
   
   <insert id="createForm" parameterType="com.cq.model.Form"  keyProperty="id" useGeneratedKeys="true" >
		insert into
		j_form (flow_id,apply_time,start_time,end_time,days,memo,user_id,status)
		values (#{flowId},#{applyTime}, #{startTime},#{endTime},#{days},#{memo},#{userId},#{status})
	</insert>
	
 <update id="updateStatus">
    update j_form
    set status = #{status}
    where id = #{id}
  </update>
  
  
   <select id="selectFormById" parameterType="java.lang.Long" resultMap="DTOResultMap">
    select * from  j_form form left  join   j_oa_flow flow  on form.flow_id=flow.flow_id
    where user_id = #{userId}
  </select>
</mapper>