<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shyroke.dao.SalariesDao">
  <resultMap id="BaseResultMap" type="com.shyroke.model.Salaries">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emp_no" jdbcType="INTEGER" property="empNo" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="from_date" jdbcType="DATE" property="fromDate" />
    <result column="to_date" jdbcType="DATE" property="toDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emp_no, salary, from_date, to_date
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from salaries
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from salaries
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from salaries
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.shyroke.model.Salaries">
    insert into salaries
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="empNo != null">
        emp_no,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="fromDate != null">
        from_date,
      </if>
      <if test="toDate != null">
        to_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empNo != null">
        #{empNo,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="fromDate != null">
        #{fromDate,jdbcType=DATE},
      </if>
      <if test="toDate != null">
        #{toDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shyroke.model.Salaries">
    update salaries
    <set>
      <if test="empNo != null">
        emp_no = #{empNo,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=INTEGER},
      </if>
      <if test="fromDate != null">
        from_date = #{fromDate,jdbcType=DATE},
      </if>
      <if test="toDate != null">
        to_date = #{toDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>