<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.dao.UserFlowDao" >
  <resultMap id="BaseResultMap" type="com.cq.model.UserFlow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="business_key" property="businessKey" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="form_id" property="formId" jdbcType="BIGINT" />
    <result column="next_node_id" property="nextNodeId" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, flow_id, form_id, next_node_id, gmt_create, gmt_modified
  </sql>
  
   <insert id="insert" parameterType="object" >
      insert into j_user_flow (id, user_id, flow_id,form_id, next_node_id,business_key)
      values
      (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{flowId,jdbcType=BIGINT},#{formId,jdbcType=BIGINT}, #{nextNodeId,jdbcType=BIGINT},#{businessKey,jdbcType=BIGINT})
  </insert>
  
  <update id="updateNextNodeId" parameterType="object">
 	 update j_user_flow set  next_node_id=#{nextNodeId}  where business_key=#{businessKey}
  </update>
  
  <select id="getUserFlow" parameterType="object" resultMap="BaseResultMap">
   select * from  j_user_flow   where business_key=#{businessKey}
  </select>
  
  <select id="getUserFlowBusinesKey" parameterType="object" resultMap="BaseResultMap">
    select * from  j_user_flow   where  user_id=#{userId} and  flow_id=#{flowId} and form_id=#{formId}
  </select>
  
  
   
</mapper>